.github
.vscode
docs/
src/
tests/
.editorconfig
.eslintignore
.eslintrc.js
.prettierrc
*.html
*.css
CONTRIBUTING.md
geraTraducoes.js
jest.config.js
package-lock.json
tsconfigcopy.json
*.lock
tsconfig.json
tsconfig.types.json
.prettierrc.js
/dist/types/
JSONEXAMPLETEST.json
JSONEXAMPLETESTRESULT.json
.env-example
coverage/
multiFolderGeneratedTranslations/
unicFolderGeneratedTranslations/
.yarn/
.yarnrc.*
