# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: github-pages
    steps:
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: "latest"
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: pnpm install
      - run: pnpm test
        env:
          KEY: ${{secrets.KEY}}
          LOCATION: ${{secrets.LOCATION}}

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: "latest"
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - run: pnpm install
      - run: pnpm format
      - run: pnpm build
      - name: Check if dist and types directories exist
        run: |
          if [ ! -d "dist" ]; then
            echo "Error: dist directory does not exist."
            exit 1
          fi
          if [ ! -d "types" ]; then
            echo "Error: types directory does not exist."
            exit 1
          fi
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
